

.card{
    background-image: url('../assets/images/airport_color.jpg');
    background-position: center;
    background-size: cover;
    color:orange;
    font-size: 1rem;
    font-weight: bolder;

}
.card-title,.card-text{
    background-color: white;
    width: auto;
    border:orange solid 2px;
    border-radius: 5px;
    padding:4px;

}
.display-4{
    font-weight: bold;
    color: orange;
}
#profile-pic{
    border:solid white 6px;
    border-radius: 50%;
    height: 75%;
    margin-top: 5%;
}

